# Idea 目录
/.idea/
/.idea/*

# Cargo Target 目录
/.cargo/shared/
/.cargo/shared/*

# Gui 项目 bin 和 obj 文件夹
/gui/JamReadyExplorer/obj/
/gui/JamReadyExplorer/bin/Debug/
/gui/JamReadyExplorer/bin/Work/config/
/gui/JamReadyExplorer/obj/*
/gui/JamReadyExplorer/bin/Debug/*
/gui/JamReadyExplorer/bin/Work/config/*
